<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Main test</title>
</head>

<body>
<div>
    <form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
     </form>
</div>
<div>
    <form method="post">
        <label>
            <input type="text" name="text" placeholder="Add message" />
        </label>
        <label>
            <input type="text" name="tag" placeholder="Tag">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

        <button type="submit">Submit</button>
    </form>
</div>
<div>List of messages</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Submit</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>